<div class="new-page-partial">
    <h1> Sample Partial</h1>

    <p>Most of the time you can simply add <tt>data-control</tt> attribute.
        Sometimes you may need to configure the control with data-config.</p>

    <p>You can even reference gadgets by adding this javascript code at the top
        of your template file. </p>
      <pre class="language-javascript" data-control="SyntaxHighlighter">
'js': [
    'gadgetLib.js',
    'gadget.js',
    'TemplePageRoutes.js',
    'subNavBadges.js'
]}
      </pre>
</div>