<% page = { "title" : "CSS: Buttons", "key": "css-buttons" } %>
<% assets = { "css": [ {'screen':'reference.css'} ] } %>

<div id="main" class="css-buttons container">
  
  <h1 class="serif">Buttons</h1>
  <p>As defined in the <a href="http://dl.dropbox.com/u/8037582/index.html#Buttons">FamilySearch Development Style Guide.</a></p>
  
  <p>
    <a href="#" class="btn btn-water">.btn-water</a>
    <a href="#" class="btn btn-water btn-large">.btn-water</a>
    <a href="#" class="btn btn-water btn-small">.btn-water</a>
    <a href="#" class="btn btn-water btn-mini">.btn-water</a>
    <a href="#" class="btn btn-water disabled">.btn-water</a>
  </p>  
  
  <p>
    <a href="#" class="btn btn-mountain">.btn-mountain</a>
    <a href="#" class="btn btn-mountain btn-large">.btn-mountain</a>
    <a href="#" class="btn btn-mountain btn-small">.btn-mountain</a>
    <a href="#" class="btn btn-mountain btn-mini">.btn-mountain</a>
    <a href="#" class="btn btn-mountain disabled">.btn-mountain</a>
  </p>
  
  <p>
    <a href="#" class="btn btn-sky">.btn-sky</a>
    <a href="#" class="btn btn-sky btn-large">.btn-sky</a>
    <a href="#" class="btn btn-sky btn-small">.btn-sky</a>
    <a href="#" class="btn btn-sky btn-mini">.btn-sky</a>
    <a href="#" class="btn btn-sky disabled">.btn-sky</a>
  </p>

  <p>
    <a href="#" class="btn btn-pine">.btn-pine</a>
    <a href="#" class="btn btn-pine btn-large">.btn-pine</a>
    <a href="#" class="btn btn-pine btn-small">.btn-pine</a>
    <a href="#" class="btn btn-pine btn-mini">.btn-pine</a>
    <a href="#" class="btn btn-pine disabled">.btn-pine</a>
  </p>
  
  <p>
    <a href="#" class="btn btn-clay">.btn-clay</a>
    <a href="#" class="btn btn-clay btn-large">.btn-clay</a>
    <a href="#" class="btn btn-clay btn-small">.btn-clay</a>
    <a href="#" class="btn btn-clay btn-mini">.btn-clay</a>
    <a href="#" class="btn btn-clay disabled">.btn-clay</a>
  </p>

  <p>
    <a href="#" class="btn btn-cloud">.btn-cloud</a>
    <a href="#" class="btn btn-cloud btn-large">.btn-cloud</a>
    <a href="#" class="btn btn-cloud btn-small">.btn-cloud</a>
    <a href="#" class="btn btn-cloud btn-mini">.btn-cloud</a>
    <a href="#" class="btn btn-cloud disabled">.btn-cloud</a>
  </p>

  
</div>