<% page = { "title" : "Reference: Typography", "key": "css-type" } %>
<% assets = { "css": [ 'reference.css' ] } %>

<div id="main" class="css-type container">
  
  <h1 class="serif">Typography &amp; Base Styles</h1>

  <ul class="span7 clearfix">
    <li><strong>FREE</strong> A service to all at no cost.
  </ul>
  
</div>