<% page = { "title" : "Reference App", "key": "home" } %>
<% assets = { "css": [ "reference.css" ] } %>

<div id="main" class="container">
  <h1 class="font21 serif">Hello I'm Joels Frontier App.</h1>
  <div class="row-fluid">
    <section class="span6">
      <h3 class="font16 serif">Javascript Controls</h3>
      <ul>
        <li><a href="Placeholder">Placeholder</a></li>
      </ul>
      <h3 class="font16 serif">CSS Widgets</h3>
      <ul>
        <li><a href="css-layouts">Core Markup &amp; Layouts</a></li>
        <li><a href="css-type">Typography &amp; Base Styles</a></li>
        <li><a href="css-buttons">Buttons</a></li>
      </ul>
    </section>
    <section class="span6">
      <h3 class="font16 serif">Apprentice HTML and CSS Tutorials</h3>
      <ul>
        <li><a href="http://www.sbf5.com/~cduan/technical/git/">GIT</a></li>
        <li><a href="http://nodejs.org/">node.js</a></li>
        <li><a href="http://expressjs.com/">Express.js</a></li>
        <li><a href="https://github.com/visionmedia/ejs">EJS</a></li>
        <li><a href="http://www.informit.com/articles/article.aspx?p=1858263">General</a></li>
        <li><a href="http://embeddedjs.com/">EJS</a></li>
        <li><a href="http://git-scm.com/">GIT</a></li>
        <li><a href="http://angularjs.org//">Angular</a></li>
      </ul>
      <h3 class="font16 serif">Vendor Libraries</h3>
      <ul>
        <li><a href="underscore">underscore.js</a> (<a href="http://underscorejs.org">underscorejs.org</a>)</li>
      </ul>
      <h3 class="font16 serif">Demonstration</h3>
      <ul>
        <li>Build a simple "Hello World" web app in the Frontier web stack</li>
        <li><a href="https://github.com/thorntonjn/Joels-Frontier-App">Check the application into your own GitHub repository.</a></li>
        <li>Deploy your app outside of your local development environment.</li>
        <li>Enhance your application by adding content to your page and learn how to pass data to your EJS page</li>
        <li><a href="newPage">Add more pages.  Wire them to different routes and/or separate controllers.</a></li>
        <li><a href="newHeader">Learn how to configure a different header.</a></li>
        <li><a href="angular">Using Angular, create a simple list of items.  You should be able to view the list and add/edit/delete items.</a></li>
      </ul>
    </section>
  </div>
</div>
